<h1>Application Form</h1>
<label>
  First Name:
  <input type="text" [formControl]="firstNameControl" />
</label>
<label>
  Last Name:
  <input type="text" [formControl]="lastNameControl" />
</label>
<br />

<button type="button" (click)="changeName()">Change My Last Name!</button>
<br />

<img alt="item" [src]="pic" width="=100" height="100" />

<br />
<p>{{ edwarsname }}</p>
<br />

<img alt="item" [src]="Image" width="=100" height="100" [hidden] = "hide" />

<br />
<br />
<button type="button" (click)="hidePicture()">Hide / Show Picture</button>
