<h1>Application Form</h1>
<p>
  Who is the boss ?
  <br />
  <br />
  The boss is <b>{{ boss }}</b>
</p>
<p>🌸</p>

<label>
  First Name:
  <input type="text" [formControl]="firstNameControl" />
</label>
<label>
  Last Name:
  <input type="text" [formControl]="lastNameControl" />
</label>
<br />

<button type="button" (click)="changeName()">Change My Name!</button>
<br />

<button type="button" (click)="resetName()">Reset Name!</button>
<br />

<br /><br />

<img
  alt="item"
  [src]="'https://2.a7.org/files/pictures/667x397/1189173.jpg?autocrop=1'"
  width="=140"
  height="200"
/>

<br />
<br />

<img
  alt="item"
  [src]="
    'https://i.dailymail.co.uk/1s/2025/05/15/12/98406523-14714551-image-a-12_1747307197213.jpg'
  "
  width="=140"
  height="224"
  [hidden]="hide"
/>

<br />
<br />
<button type="button" (click)="hidePicture()">Hide & Show Picture</button>
